.ArticleDetails {
  display: grid;
  gap: 24px;
}

.avatar {
  margin: 0 auto;
}

.articleInfoWrapper {
  display: grid;
  gap: 4px;
}

.articleInfo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
