.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.3s ease;
}

.switchers {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.theme {
  display: inline-flex;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: grid;
  gap: 10px;
  margin: 20px 0 0 30px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.link {
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .link {
    width: 0;
    opacity: 0;
    transition: 0.2s all ease-out;
  }
}
