.InputWrapper {
  display: flex;
  column-gap: 5px;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;

  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  width: 9px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;

  background: var(--primary-color);
  animation: blink 0.7s forwards infinite;
}

.readonly {
  opacity: 0.6;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
