.ListBox {
  position: relative;
}

.trigger {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: var(--listbox-z-index);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
  cursor: pointer;
  padding: 10px 20px;
}

.active {
  background: var(--inverted-primary-color);
  border-radius: 8px;
  transition: all 0.3s;
}

.disabled {
  opacity: 0.6;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  right: 0;
  bottom: 100%;
}
