.primary {
  color: var(--text-redesigned);
  transition: all 0.2s;

  &:hover {
    color: var(--accent-redesigned);
  }
}

.error {
  color: var(--cancel-redesigned);
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
